*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa

_build/
AUTHORS.txt
INSTALL.txt
Makefile
README.txt
configure
*.byte
myocamlbuild.ml
setup.data
setup.log
setup.ml
src/META
src/free.mldylib
src/free.mllib
_tags
